{% extends "template.html" %}

{% block title %}it for free - сайт в разработке{% end %}

{% block header %}
    <header class="mainhead">
        <div class="row">
            <div class="small-12 medium-6 large-5 columns">
                <hgroup>
                    <h1><strong>Сайт в разработке</strong></h1>
                </hgroup>
                    <p>Просим прощения, но некоторая функциональность сайта ещё не доступна.</p>
            </div>
        </div>
    </header>
{% end %}

{% block content %}
    Просим прощения но сайт разрабатывается, поэтому часть функциональности ещё не доступна. Мы стараемся это исправить.
{% end %}