<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="ru" ><![endif]-->
<html class="no-js" lang="ru" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="iff, if for free, it-for-free, видеовстречи, info, links, main, home"/>
    <meta name="description" content="Портал iff"/>
    <meta name="author" content="if-for-free" />
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/css/foundation-iff.css">
    <!-- import JavaScript -->
    <script src="/static/js/vendor/modernizr.js"></script>
    <title>it for free - home</title>
</head>
<body>
    
    <!--Top bar and navigation-->
    <div class="fixed">
        <nav class="top-bar" data-topbar>
             <ul class="title-area">
                <li class="name">
                    <h1 class="show-for-medium-up"><a href="#">it for free</a></h1>
                    <h1 class="show-for-small-only"><a href="#">iFF</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <!---------------------------------------->
            <section class="top-bar-section">
            <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Видеовстречи</a></li>
                    <li><a href="#">Информация</a></li>
                </ul>
            </section>
            <!---------------------------------------->
        </nav>
    </div>
    <!--end tpbr&nav-->
    
    <header>
    </header>
    
    
    
    <footer>
    </footer>
    <!-- foundation recomendation ending -->
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script> $(document).foundation(); </script>
</body>
</html>